
.background {
   background: rgb(67, 35, 160);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
.wrapper {
    position: relative;
    background: rgb(226, 217, 235);
    width: 100%;
    max-width: 400px;
    height: 440px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    margin-top: 25px;
    box-shadow: 2px 2px 7px rgb(167, 163, 170);
}
.wrongAnswer {
    color: red;
}
.correctAnswer {
    color: green;
}

.correctAnswer, .wrongAnswer, .noAnswer {
   margin-top: 16.5px;
   margin-bottom: 5px;
}
.allAnswers {
    position: absolute;
    top: 5px;
    left: 5px;
}
@media screen and (max-width: 380px) {
    .wrapper {
       font-size: 3.7vw;
    }
    
  }
